*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: helvetica, sans-serif;
    
}

h1{
    font-family: tuna, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

h2{
    text-align: left;
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3{
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    
}

p{
    font-family: tuna, sans-serif;
    font-weight: 400;
    font-style: normal
}

#container{
    display:flex;
    flex-flow: columm nowrap;
    /* height: 100vh; */
}

.box1 .number{
    /* visibility: visible; */
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box1:hover .number{
    /* visibility: hidden; */
    color: rgba(0,0,0,0);
}

.box1{
    width: 20vw;
    height: auto;
    /* border: 3px solid black; */
    padding: 20px;
    background-color: #abed79;  
    transition: width 1s ease-out 0.1s;
}

.box1:hover{
    width: 100vw;
}

.box1 .content{
    color: rgba(0,0,0,0);
    transition: color 0.1s ease-out;
}

.box1:hover .content{
    color: rgba(0,0,0,1);
}

.box2 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box2:hover .number{
    color: rgba(0,0,0,0);
}

.box2{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #49a0f2;  
    transition: width 1s ease-out;

}

.box2:hover{
    width: 100vw;
}

.box2 .content{
    /* visibility: hidden; */
    opacity: 0;
    transition-property: opacity 5s ease-out;
}

.box2:hover .content{
    /* background-color: pink; */
    /* visibility: visible; */
    opacity: 1;
}

.box3 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box3:hover .number{
    color: rgba(0,0,0,0);
}

.box3{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #ffb86b;  
    transition: width 2s ease-out;
}

.box3:hover{
    width: 100vw;
}

.box3 .content{
    visibility: hidden;
}

.box3:hover .content{
    /* background-color: pink; */
    visibility: visible;
}

.box4 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box4:hover .number{
    color: rgba(0,0,0,0);
}

.box4{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #8C8ADA;  
    transition: width 2s ease-out;
}

.box4:hover{
    width: 100vw;
}

.box4
 .content{
    visibility: hidden;
}

.box4:hover .content{
    /* background-color: pink; */
    visibility: visible;
}

.box5 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box5:hover .number{
    color: rgba(0,0,0,0);
}

.box5{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #fabbdf;  
    transition: width 2s ease-out;

}

.box5:hover{
    width: 100vw;
}

.box5 .content{
    visibility: hidden;
}

.box5:hover .content{
    /* background-color: pink; */
    visibility: visible;
}

.box6 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box6:hover .number{
    color: rgba(0,0,0,0);
}

.box6{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #fffa6e;  
    transition: width 2s ease-out;

}

.box6:hover{
    width: 100vw;
}

.box6 .content{
    visibility: hidden;
}

.box6:hover .content{
    /* background-color: pink; */
    visibility: visible;
}

.box7 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box7:hover .number{
    color: rgba(0,0,0,0);
}

.box7{
    width: 20vw;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #36e3a9;  
    transition: width 0.5s ease-out;

}

.box7:hover{
    width: 100vw;
}

.box7 .content{
    visibility: hidden;
}

.box7:hover .content{
    /* background-color: pink; */
    visibility: visible;
}
