*{
    margin: 0;
    padding: 0;
}

/* @media screen and (max-width:600px){
    #container{
    display: flex;
    flex-flow: row wrap;
    height: 1000px; 
    }
    .box{
    width: auto;
    height: 10vh;
    padding: 20px;
    background-color: #abed79;  
    transition: height 1s ease-out 0.1s;
    }
    .box:hover{
    height: 100vh;
    }
} */


body{
    color: black;
    font-family: tuna, sans-serif;
    
}

.colorChange{
    color: white;
    background-color:black;
}

.title{
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    margin: 20px;
}

h2{
    text-align: left;
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3{
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    
}

p{
    font-family: tuna, sans-serif;
    font-weight: 400;
    font-style: normal
}

#container{
    display:flex;
    flex-flow: columm nowrap;
    overflow-y: hidden;
    height: 1000px;


}

.box .imgs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width:30%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-out 0.1s;

}

.box:hover .imgs{
    opacity: 1;
}

.change1{
    color: white;
}

.number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
}

.number:hover{
    color: rgba(0,0,0,0);
}

.box{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color:white;  
    transition: width 1s ease-out 0.1s;
}

.box:hover{
    color: rgba(0,0,0,0);
    width: 100vw;

}

.box .content{
    color: rgba(0,0,0,0);
    transition: color 0.1s ease-out;
}

.box:hover .content{
    color: rgba(0,0,0,1);
}

.color1{
    background-color: #abed79; 
}

.color2{
    background-color: #49a0f2; 
}

.color3{
    background-color: #ffb86b; 
}

.color4{
    background-color: #8C8ADA; 
}

.color5{
    background-color: #fabbdf; 
}

.color6{
    background-color: #fffa6e; 
}

.color7{
    background-color: #36e3a9; 
}







/*
.box1 .number{
    
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}



.box1:hover .number{
    
    color: rgba(0,0,0,0);
}

.box1{
    width: 20vw;
    height: auto;
    
    padding: 20px;
    background-color: #abed79;  
    transition: width 1s ease-out 0.1s;
}

.box1:hover{
    width: 100vw;
}

.box1 .content{
    color: rgba(0,0,0,0);
    transition: color 0.1s ease-out;
}

.box1:hover .content{
    color: rgba(0,0,0,1);
}

.box2 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box2:hover .number{
    color: rgba(0,0,0,0);
}

.box2{
    width: 20vw;
    height: auto;
    
    padding: 20px;
    background-color: #49a0f2;  
    transition: width 1s ease-out;

}

.box2:hover{
    width: 100vw;
}

.box2 .content{
    opacity: 0;
    transition-property: opacity 5s ease-out;
}

.box2:hover .content{
    opacity: 1;
}

.box3 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box3:hover .number{
    color: rgba(0,0,0,0);
}

.box3{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #ffb86b;  
    transition: width 2s ease-out;
}

.box3:hover{
    width: 100vw;
}

.box3 .content{
    visibility: hidden;
}

.box3:hover .content{
    visibility: visible;
}

.box4 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box4:hover .number{
    color: rgba(0,0,0,0);
}

.box4{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #8C8ADA;  
    transition: width 2s ease-out;
}

.box4:hover{
    width: 100vw;
}

.box4
 .content{
    visibility: hidden;
}

.box4:hover .content{
    visibility: visible;
}

.box5 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box5:hover .number{
    color: rgba(0,0,0,0);
}

.box5{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #fabbdf;  
    transition: width 2s ease-out;

}

.box5:hover{
    width: 100vw;
}

.box5 .content{
    visibility: hidden;
}

.box5:hover .content{
    visibility: visible;
}

.box6 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box6:hover .number{
    color: rgba(0,0,0,0);
}

.box6{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #fffa6e;  
    transition: width 2s ease-out;

}

.box6:hover{
    width: 100vw;
}

.box6 .content{
    visibility: hidden;
}

.box6:hover .content{
    visibility: visible;
}

.box7 .number{
    color: rgba(0,0,0,1);
    transition: color 0.1s ease-out;
    
}

.box7:hover .number{
    color: rgba(0,0,0,0);
}

.box7{
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #36e3a9;  
    transition: width 0.5s ease-out;

}

.box7:hover{
    width: 100vw;
}

.box7 .content{
    visibility: hidden;
}

.box7:hover .content{
    visibility: visible;
}
*/